.number{
    background-color: $color-black-0;
    padding: $pd-2 0;
    .number__item{
        text-align: center;
        .number__icon{
            margin-bottom: $mg-5;
            i{
                padding-right: $pd-1 - 2;
                @include styletext($fs-4, $fw-4, $color-white-0);
            }
            h1{
                display: inline-block;
                margin: 0;
                color: $color-white-0;
            }
        }
        .number__text{
            color: $color-white-0;
            letter-spacing: $lts-0 - 4;

        }
    }
    @include responsive("ipad"){
        .number__item{
            padding: $pd-3 0;
            .number__icon{
                h1{
                    font-size: $fs-3 - 4;
                }
            }
        }
    }
}